<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="{{post.url}}" class="lead">{{post.title}}</a>
    <p>{{post.summary}}</p>
  </div>
  <form action="/posts/del" method="post">
    <input style="display: none" type="text" name="_id" value="{{post._id}}">
    <input type="submit" value="delete"/>
  </form>
  <form action="/posts/{{post._id}}/comment" method="post">
    <textarea class='form-control' name="content" placeholder="Comment"></textarea>
    <div class="text-right">
      <button type="submit">Save</button>
    </div>
  </form>
</div>